  .country_search_container {
      display: flex;
  }
  .worldwide_info_container {
      display: flex;
      padding: 0;
    }
    .worldwide_info_container > div {
      flex: 1;
      border-radius: 10px;
      margin: 0 2% 0 2%;  
      background-color: rgb(33, 43, 54);
      text-align: center;
      padding: 2% 0 2% 0;
    }
  
    .confirmed .category_label {
      color: green !important;
    }
  
    .recovered .category_label {
      color: skyblue !important;
    }
  
    .death .category_label {
      color: red !important;
    }

    .dropdown {
        margin-left: 5%;
    }
    
    .dropdown-menu {
        max-height: 250px;
        overflow: scroll;background-color: black;
        background-color: rgb(33, 43, 54);
        color: beige;
    }

    .dropdown-menu li a:hover {
        background-color: burlywood;
    }

    #country_dropdown_button {
      min-width: 100px;
      background-color: rgb(33, 43, 54);
      border: none;
      text-decoration: none;
      border-radius: 0;
    }
  
  @media only screen and (min-width: 767px){
    .worldwide_info_container > div {
     font-weight: 700; 
    }
  
    .confirmed .category_value {
      font-size: 30px;
    }
  
    .recovered .category_value {
      font-size: 30px;
    }
  
    .death .category_value {
      font-size: 30px;
    }
  
  }
 