.table-bordered>tbody>tr>td, .table-bordered>tbody>tr>th, .table-bordered>tfoot>tr>td, .table-bordered>tfoot>tr>th, .table-bordered>thead>tr>td, .table-bordered>thead>tr>th{
    border: none;
}

.statewise_outer_div {
    margin: 0 10% 0 10%;
}

tbody>tr>:nth-child(5){ 
    color: red;
}

tbody>tr>:nth-child(3){ 
    color: green;
}

tbody>tr>:nth-child(4){ 
    color: skyblue;
}

tbody>tr>:nth-child(5){ 
    color: red;
}


@media only screen and (max-width: 767px){
    .statewise_outer_div {
        margin: 0;
    }
}