.App {
  text-align: center;
}
body {
  background:  rgb(25, 33, 42);
  color: aliceblue;
  font-family: Roboto, sans-serif;
  font-weight: 600;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.NavLink {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 99;
}

ul.header li a {
  color: black;
  font-weight: bold;
  text-decoration: none;
  padding: 13px;
  display: inline-block;
}

ul.header li {
  display: inline;
  list-style-type: none;
  margin: 10;
  
}

ul.header {
  /* background-image:linear-gradient(160deg,#00ffff , #0099ff, #00ffff , #006699, #006699,  #0099ff);  */
  background-image:linear-gradient(160deg,#124e58 , #8fafbd, #1f3d3d , #637e8a, #55788a,  #4f93c0); 
  /*width: 1365px;*/
  /* background-color: rgb(255, 255, 255); */
}

.width{
  padding-left: 0px;
}

.active {
  /* background-color: rgb(95, 135, 145); */
  background-image:linear-gradient(160deg,#124e58 , #8fafbd, #1f3d3d , #637e8a, #55788a,  #4f93c0);
  border: 0.5px solid white;
  border-radius: 5px;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media only screen and (max-width: 767px){
  body {
    width: fit-content !important;
  }
}